services:
  service-db:
    image: postgres:16
    environment:
      POSTGRES_USER:
      POSTGRES_PASSWORD:
      POSTGRES_DB:
    ports:
      # Make sure nothing runs on this port.
      - "5432:5432"
    volumes:
      - data:/var/lib/postgresql/data
volumes:
  data:
